In [146]:
import pandas as pd

In [147]:
#loading data
df3 = pd.read_excel("file3.xlsx")
df4 = pd.read_excel("file4.xlsx")

In [148]:
columns_3 = df3.columns.tolist()
print(columns_3)

['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5', 'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN', 'TARGET_D']

In [149]:
columns_4 = df4.columns.tolist()
print(columns_4)

['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5', 'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN', 'TARGET_D']

In [150]:
df5 = pd.concat([df3,df4], ignore_index=True)

In [151]:
df5

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
2002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
2003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
2004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
2005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [152]:
df5.shape

(2006, 17)

In [153]:
df5.drop("DOMAIN", axis=1, inplace=True)

In [154]:
df5.drop("DOB", axis=1, inplace=True)

In [155]:
df5

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,50.0
2002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,10.0
2003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,5.0
2004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,14.0
2005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,9.0

In [156]:
df5 = df5[['CONTROLN', 'STATE', 'GENDER', 'HV1', 'HVP1', 'POBC1', 'POBC2', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'AVGGIFT', 'TCODE',  'TARGET_D']]

In [157]:
df5

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725,97,13,22,610,763,698,807,53158,23.727273,0,45.0
2,48527,AL,Male,931,0,0,65,407,502,439,496,17743,4.416667,2,3.0
3,171528,CA,F,1895,46,10,62,317,389,405,471,17431,6.705882,0,5.0
4,50122,Tennessee,F,715,2,0,75,318,340,352,370,12416,9.250000,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,41537,FL,F,742,0,7,37,396,424,450,470,15356,14.285714,2,50.0
2002,4881,FL,M,599,4,10,27,100,406,200,423,11670,9.230769,28,10.0
2003,66358,ND,M,593,0,1,70,258,298,274,299,10186,5.266667,1,5.0
2004,2231,WI,male,564,0,0,96,217,386,295,397,12315,11.400000,1,14.0
2005,68534,MI,M,651,0,7,77,431,451,455,505,14845,7.428571,1,9.0

In [158]:
df5[(df5["STATE"] == 'FL') & (df5["GENDER"] == "M")]

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
30,35581,FL,M,906,3,4,37,296,377,360,473,16729,10.428571,1,15.0
31,46358,FL,M,715,0,6,28,362,371,388,408,12806,7.466667,1,9.0
38,41545,FL,M,658,0,11,23,373,392,417,436,14942,5.789474,1,5.0
55,11284,FL,M,934,9,4,11,324,391,404,478,17408,6.366667,0,4.0
59,25678,FL,M,721,2,3,51,302,339,335,365,12474,8.875000,1,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,36776,FL,M,653,0,11,35,319,360,358,379,12869,9.500000,1,20.0
1973,4881,FL,M,599,4,10,27,100,406,200,423,11670,9.230769,28,10.0
1992,6403,FL,M,677,0,2,23,311,272,324,313,12509,10.115385,1,10.0
1997,6443,FL,M,595,0,8,11,252,263,262,274,11132,14.692308,1,20.0
2002,4881,FL,M,599,4,10,27,100,406,200,423,11670,9.230769,28,10.0

In [159]:
df5[(df5["TARGET_D"] < 100) & (df3["GENDER"] == "F")]

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725,97,13,22,610,763,698,807,53158,23.727273,0,45.0
3,171528,CA,F,1895,46,10,62,317,389,405,471,17431,6.705882,0,5.0
4,50122,Tennessee,F,715,2,0,75,318,340,352,370,12416,9.250000,2,10.0
5,92293,IL,F,3359,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,179683,WA,F,1108,4,3,63,371,395,393,408,13661,21.666667,0,25.0
992,123699,TX,F,1077,2,5,55,751,733,766,762,28799,7.800000,0,10.0
994,46153,FL,F,933,5,5,19,224,290,333,406,14946,10.000000,3,15.0
997,86779,ND,F,331,0,1,61,165,172,232,266,9324,10.666667,28,11.0
999,79641,WI,F,1244,25,1,64,672,713,743,776,25036,9.937500,0,12.0

In [160]:
df5["GENDER"].unique()

array(['F', 'Male', 'M', nan, 'U', 'male', 'female', 'Female', 'J', 'A'],
      dtype=object)

In [161]:
filtered2 = df5[df5["GENDER"] == "F"]

In [162]:
filtered2

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725,97,13,22,610,763,698,807,53158,23.727273,0,45.0
3,171528,CA,F,1895,46,10,62,317,389,405,471,17431,6.705882,0,5.0
4,50122,Tennessee,F,715,2,0,75,318,340,352,370,12416,9.250000,2,10.0
5,92293,IL,F,3359,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991,77441,WI,F,725,0,1,86,316,354,335,376,11623,7.666667,0,7.0
1993,117326,TX,F,1715,34,3,54,554,750,626,837,31480,6.916667,0,10.0
1996,66762,MI,F,632,2,1,71,279,336,339,388,12653,8.533333,0,5.0
1998,151175,CA,F,2707,80,24,54,507,504,538,537,16165,12.117647,0,22.0
2001,41537,FL,F,742,0,7,37,396,424,450,470,15356,14.285714,2,50.0

In [163]:
filtered2.head(10)

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725,97,13,22,610,763,698,807,53158,23.727273,0,45.0
3,171528,CA,F,1895,46,10,62,317,389,405,471,17431,6.705882,0,5.0
4,50122,Tennessee,F,715,2,0,75,318,340,352,370,12416,9.250000,2,10.0
5,92293,IL,F,3359,87,16,74,878,897,934,973,35266,5.800000,0,5.0
6,47191,AL,F,950,3,6,55,264,295,330,378,20090,4.142857,2,5.0
7,89288,IL,F,1243,9,18,70,414,467,464,507,15884,10.400000,0,15.0
9,30051,GA,F,359,0,0,90,205,260,250,292,9279,9.000000,0,10.0
12,110789,LA,F,324,1,0,91,129,204,226,277,9585,8.200000,2,15.0
14,142662,CA,F,1188,5,10,34,166,218,194,243,10014,8.333333,28,10.0

In [164]:
filtered2.reset_index(drop=False)

,index,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,0,119966,TX,F,321,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,1,152470,CA,F,5725,97,13,22,610,763,698,807,53158,23.727273,0,45.0
2,3,171528,CA,F,1895,46,10,62,317,389,405,471,17431,6.705882,0,5.0
3,4,50122,Tennessee,F,715,2,0,75,318,340,352,370,12416,9.250000,2,10.0
4,5,92293,IL,F,3359,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1991,77441,WI,F,725,0,1,86,316,354,335,376,11623,7.666667,0,7.0
980,1993,117326,TX,F,1715,34,3,54,554,750,626,837,31480,6.916667,0,10.0
981,1996,66762,MI,F,632,2,1,71,279,336,339,388,12653,8.533333,0,5.0
982,1998,151175,CA,F,2707,80,24,54,507,504,538,537,16165,12.117647,0,22.0
983,2001,41537,FL,F,742,0,7,37,396,424,450,470,15356,14.285714,2,50.0

In [165]:
filtered2=filtered2.reset_index(drop=True)

In [166]:
filtered2.loc[100:200]

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
100,35908,FL,F,693,7,1,24,373,457,413,463,16854,15.000000,0,20.0
101,81073,WI,F,571,0,3,74,243,307,295,349,13144,9.166667,2,10.0
102,38471,FL,F,1033,25,6,36,471,545,544,598,22327,13.777778,2,25.0
103,95536,IL,F,886,3,0,68,482,465,447,433,13887,16.666667,28,20.0
104,103330,MO,F,915,7,3,62,377,432,445,492,16206,10.333333,0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,186013,AL,F,554,4,1,63,296,316,351,391,12774,9.500000,0,15.0
197,95132,IL,F,512,1,1,73,269,329,295,357,12842,14.000000,0,25.0
198,130926,CO,F,1175,8,2,38,517,568,565,599,18850,5.222222,0,5.0
199,114912,OK,F,622,0,0,64,306,338,316,345,10625,16.653846,2,25.0
200,164651,CA,F,2208,71,25,46,313,334,393,411,14497,11.500000,0,5.0

In [167]:
filtered2.iloc[0:100, 2:6]

   GENDER   HV1  HVP1  POBC1
0       F   321     0      3
1       F  5725    97     13
2       F  1895    46     10
3       F   715     2      0
4       F  3359    87     16
..    ...   ...   ...    ...
95      F   885     1     35
96      F   824     3      8
97      F   570     2      1
98      F   590     0      0
99      F   238     0      0

[100 rows x 4 columns]

In [168]:
filtered2.dtypes

CONTROLN      int64
STATE        object
GENDER       object
HV1          object
HVP1          int64
POBC1         int64
POBC2         int64
IC1           int64
IC2           int64
IC3           int64
IC4           int64
IC5           int64
AVGGIFT     float64
TCODE         int64
TARGET_D    float64
dtype: object

In [169]:
filtered2.select_dtypes(int,float)

     CONTROLN  HVP1  POBC1  POBC2  IC1  IC2  IC3  IC4    IC5  TCODE
0      119966     0      3     68  225  264  243  281   9372      0
1      152470    97     13     22  610  763  698  807  53158      0
2      171528    46     10     62  317  389  405  471  17431      0
3       50122     2      0     75  318  340  352  370  12416      2
4       92293    87     16     74  878  897  934  973  35266      0
..        ...   ...    ...    ...  ...  ...  ...  ...    ...    ...
979     77441     0      1     86  316  354  335  376  11623      0
980    117326    34      3     54  554  750  626  837  31480      0
981     66762     2      1     71  279  336  339  388  12653      0
982    151175    80     24     54  507  504  538  537  16165      0
983     41537     0      7     37  396  424  450  470  15356      2

[984 rows x 10 columns]

In [170]:
newhv1 = filtered2["HV1"].apply(pd.to_numeric, errors='coerce')

In [171]:
newhv1

0       321.0
1      5725.0
2      1895.0
3       715.0
4      3359.0
        ...
979     725.0
980    1715.0
981     632.0
982    2707.0
983     742.0
Name: HV1, Length: 984, dtype: float64

In [172]:
filtered2['HV1'] = newhv1

In [173]:
filtered2

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321.0,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725.0,97,13,22,610,763,698,807,53158,23.727273,0,45.0
2,171528,CA,F,1895.0,46,10,62,317,389,405,471,17431,6.705882,0,5.0
3,50122,Tennessee,F,715.0,2,0,75,318,340,352,370,12416,9.250000,2,10.0
4,92293,IL,F,3359.0,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,77441,WI,F,725.0,0,1,86,316,354,335,376,11623,7.666667,0,7.0
980,117326,TX,F,1715.0,34,3,54,554,750,626,837,31480,6.916667,0,10.0
981,66762,MI,F,632.0,2,1,71,279,336,339,388,12653,8.533333,0,5.0
982,151175,CA,F,2707.0,80,24,54,507,504,538,537,16165,12.117647,0,22.0
983,41537,FL,F,742.0,0,7,37,396,424,450,470,15356,14.285714,2,50.0

In [174]:
filtered2.dtypes

CONTROLN      int64
STATE        object
GENDER       object
HV1         float64
HVP1          int64
POBC1         int64
POBC2         int64
IC1           int64
IC2           int64
IC3           int64
IC4           int64
IC5           int64
AVGGIFT     float64
TCODE         int64
TARGET_D    float64
dtype: object

In [175]:
filtered2.drop_duplicates(inplace=False)

,CONTROLN,STATE,GENDER,HV1,HVP1,POBC1,POBC2,IC1,IC2,IC3,IC4,IC5,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,321.0,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725.0,97,13,22,610,763,698,807,53158,23.727273,0,45.0
2,171528,CA,F,1895.0,46,10,62,317,389,405,471,17431,6.705882,0,5.0
3,50122,Tennessee,F,715.0,2,0,75,318,340,352,370,12416,9.250000,2,10.0
4,92293,IL,F,3359.0,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,26009,GA,F,899.0,1,6,44,396,417,479,501,15973,8.000000,2,15.0
979,77441,WI,F,725.0,0,1,86,316,354,335,376,11623,7.666667,0,7.0
980,117326,TX,F,1715.0,34,3,54,554,750,626,837,31480,6.916667,0,10.0
981,66762,MI,F,632.0,2,1,71,279,336,339,388,12653,8.533333,0,5.0
982,151175,CA,F,2707.0,80,24,54,507,504,538,537,16165,12.117647,0,22.0

In [176]:
filtered2.columns = filtered2.columns.str.lower()

In [177]:
filtered2

,controln,state,gender,hv1,hvp1,pobc1,pobc2,ic1,ic2,ic3,ic4,ic5,avggift,tcode,target_d
0,119966,TX,F,321.0,0,3,68,225,264,243,281,9372,8.058824,0,11.0
1,152470,CA,F,5725.0,97,13,22,610,763,698,807,53158,23.727273,0,45.0
2,171528,CA,F,1895.0,46,10,62,317,389,405,471,17431,6.705882,0,5.0
3,50122,Tennessee,F,715.0,2,0,75,318,340,352,370,12416,9.250000,2,10.0
4,92293,IL,F,3359.0,87,16,74,878,897,934,973,35266,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,77441,WI,F,725.0,0,1,86,316,354,335,376,11623,7.666667,0,7.0
980,117326,TX,F,1715.0,34,3,54,554,750,626,837,31480,6.916667,0,10.0
981,66762,MI,F,632.0,2,1,71,279,336,339,388,12653,8.533333,0,5.0
982,151175,CA,F,2707.0,80,24,54,507,504,538,537,16165,12.117647,0,22.0
983,41537,FL,F,742.0,0,7,37,396,424,450,470,15356,14.285714,2,50.0